// CHANGE THEME WITH BOOTSTRAP
@import "vendor/bootstrap";
//////////////////////////////////////////////
// HELPERS
@import "helpers/variables/variables";
@import "helpers/functions/function";
@import "helpers/mixins/mixin-brakepoint";
//////////////////////////////////////////////
// THEMES
@import "thems/theme-setting";
//////////////////////////////////////////////
// COMPONENTS
//////////////////////////////////////////////
// LAYOUT
//////////////////////////////////////////////
// PAGES


.testing-1 {
  background-color: rgba(0, 0, 255, 0.56);
  color: white;
  display: flex;
  transform: scale(1.5);
}



.testing-2 {
  background-color: black;
}


.testing-3 {
  filter: gray(100;)
}

